{% extends "base.html" %}{% from "_render_field.html" import render_UserRegistration%} {% block title %}User Login{% endblock %} {% block body %}
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <div style="float:right; position: relative; top:-10px"><a href="/ForgotPassword">Have you forgotten your password?</a></div>

        <label for="inputUsername" class="sr-only" name="Username">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only" name="Password">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"/> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</a>
        <br />
        <label>Don't have an account!<a href="/UserRegistration"> Sign up here</a></label>
    </form>

</div>

{% endblock %}